body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  margin-top: 6px;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-layout .ant-layout-header, :where(.css-dev-only-do-not-override-1qhpsh8).ant-layout.ant-layout-footer {
  background-color: #8f4ba6;
}